$white:#ffffff;
$snow:#FAFAFA;
$quick-silver:#A0A0A0;

$jelly-bean:#E56353;
$salmon:#E97F72;
$pastel-pink:#F0A9A1;

$granite-gray:#686963;
$taupe-gray:#91918D;
$gray:#BABAB8;

$raleway: 'Raleway', sans-serif;

$extra-light:200;
$regular:400;
$bold:700;

$xx-large:5rem;
$x-large:3rem;
$large:2rem;
$medium:1rem;