.description{

    &__bg{
        background-color:$granite-gray;
        padding: 80px 0px;
    }

    &__container-description-one{
        width:70%;
        margin:0 auto;
        text-align: center;
        color:$white;
    }
    
}