.description{

    &__bg-two{
        background-color:$white;
        padding: 80px 0px;
    }

    &__container-description-two{
        width:70%;
        margin:0 auto;
        text-align: center;
        color:$granite-gray;
    }
    
}